const botName = "@xxxx"; // Bot Username

const telegramToken = "123456789:ABCDEFG"; // Bot Token, get from @BotFatber
const telegramUrl = "https://api.telegram.org/bot" + telegramToken + "/";
const telegramMasterId = 0; // Your telegram id, get from @getmyid_bot
const telegramWebhookUrl = ""; // App Script Webhook URL
const telegramGroupWhiteList = [telegramMasterId]; // Whitelist for auto fetch
